.opaque-text-block {
  /* margin-bottom: 0px; */
  width: 100%;
  height: 100%;
  /* background-size: cover;
    overflow: hidden; */
  background: rgba(233, 236, 239, 0.85);
  /* position: relative; */
  padding: 25px;
  border-radius: 0.3rem;
}

.main {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 21px;
}
