{% extends "layout.html" %}
{% block content %}

<body>
  <div class="main">
    <p>
      I'm a car nerd and I love diving into the rabbit hole of learning about car modifications,
      specifications, and the car culture as a whole! I have a 2014 BMW M235i (6 speed manual)
      and so far, I've changed out the chargepipe, intake, and exhaust.
    </p>

    <div class="row">
      <div class="column-50">
        <img src="https://i.imgur.com/vyI8zil.jpg" alt="Trackday" style="width:100%">
      </div>
      <div class="column-50">
        <img src="https://i.imgur.com/IpqyeOJ.jpg" alt="Maintenance" style="width:100%">
      </div>
    </div>
  </div>
</body>

{% endblock %}
