{% extends "layout.html" %}
{% block content %}

<body>
  <div class="container">
    <div class="main">
      <p id="it me">
        <a class="name" href="{{ url_for('static', filename='John_Sha_Resume.pdf') }}">
          <font size="6">
            John Sha
          </font>
        </a>
      </p>

      <p id="incoming">
        Incoming Software Development Engineer @ Amazon
      </p>

      <p id="previously">
        Previously, I was a Software Engineering Intern at <a href="https://www.ooma.com/">Ooma</a> and
        a Mechanical Engineering Intern at <a href="http://www.finelite.com/home/">Finelite</a>.
      </p>

      <p id="hobbies">
        In my free time I love to work on my car, play video games with friends, find new music, and watch food videos!
      </p>
    </div>
  </div>
</body>

{% endblock %}
