{% extends "layout.html" %}
{% block content %}

<body>
  <div class="main">
    <p>
      <font size="6">Hi!</font> I'm John, a senior at UC Berkeley studying Data Science and Mechanical Engineering.
      <br>
      This summer, I am a Software Engineering Intern at <a href="https://www.ooma.com/">Ooma.</a>
      <br>
      Previously, I was at <a href="http://www.finelite.com/home/">Finelite</a> as a Mechanical Engineering Intern.
      <br>
      I love tinkering -- check out my <a href="/portfolio">portfolio</a> for some projects I've worked on.
      <br>
      In my free time I love to work on my <a href="/car">car</a> and cruise along scenic routes and push it at the racetrack!
      <br>
      Also check out <a href="https://fsae.berkeley.edu/">Berkeley's FSAE team</a>; I was a part of the organization for 3 years and 
      learned a ton about mechanical design and leading a team!
    </p>
  </div>
</body>

{% endblock %}
