{% extends "layout.html" %}
{% block content %}

<body>
  <div class="main font">
    <p id="hello">
      <font size="6">Hi!</font> I'm John, a senior at UC Berkeley studying Data Science and Mechanical Engineering.
    </p>

    <p id="summer">
      This summer, I am a Software Engineering Intern at <a href="https://www.ooma.com/">Ooma</a>.
      <br>
      Previously, I was at <a href="http://www.finelite.com/home/">Finelite</a> as a Mechanical Engineering Intern.
    </p>

    <p id="hobbies">
      I love tinkering -- check out my <a href="http://www.bit.ly/johnsha">portfolio</a> for some projects I've worked on.
      <br>
      In my free time I love to work on my <a href="/car">car</a>, cruise along scenic routes, and push it at the racetrack!
      <br>
      Also check out <a href="https://fsae.berkeley.edu/">Berkeley's FSAE team</a>; I was a part of the organization for 3 years
      on the engine subsystem and learned a ton about mechanical design, 3D modeling, and leading a team!
    </p>

    <div class="row-top">
      <div class="column">
        <img src="https://i.imgur.com/BBtac0x.jpg" alt="John" style="width:100%">
      </div>
      <div class="column">
        <img src="https://i.imgur.com/fiGOWj1.jpg" alt="Shifter" style="width:100%">
      </div>
      <div class="column">
        <img src="https://i.imgur.com/OKVoapt.jpg" alt="FSAE" style="width:100%">
      </div>
    </div>
</body>

{% endblock %}
